<h2> Create a New Landmark </h2>

<form action="/landmarks/show" method="POST">

   <label> New Landmark </label><br>

   <label> Name </label>
   <input id="landmark_name" type="text" name="landmark[name]"><br>

   <label> Year Completed </label>
   <input id="landmark_year_completed" type="number" name="landmark[year_completed]">

  <br></br>

  <input type="submit" value="Create New Landmark">
</form>
